// form
.form-detail-card
  border: none
  box-shadow: 0 4px 8px rgba(#000000, 0.15)
  .ant-card-body
    padding: 12px 24px
  + .form-detail-card
    margin-top: 16px
.product-spinning
  min-height: 400px
.product-code-row
  .ant-col:nth-child(1),
  .ant-col:nth-child(2)
    margin-bottom: 6px
.product-search
  input
    text-transform: uppercase
.product-real-pictitle
  font-size: 0.875rem
  background: #e7e7e7
  margin: 0
  padding: 10px
.product-real-pic
  position: relative
  border: 1px solid #e1e1e1
  border-radius: 4px
  padding: 4px
  &::before
    content: ''
    display: block
    width: 100%
    height: 0
    background: #f7f7f7
    padding-bottom: 100%
  img
    position: absolute
    max-width: calc(100% - 10px)
    max-height: calc(100% - 10px)
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .product-real-pic-reupload
    display: block
    position: absolute
    top: 10px
    right: 10px
    .ant-upload
      dipslay: block
      .ant-btn
        border: none
        background: #f4a261
        padding: 3px
        .anticon,
        .anticon svg
          display: block
          width: 18px
          height: 18px
          fill: #ffffff
        &::after
          display: none
  .product-real-pic-option
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    width: calc(100% - 10px)
    height: calc(100% - 10px)
    background: rgba(#000000, 0.2)
    top: 5px
    left: 5px
    opacity: 0
    transform: scale(0)
    transition: opacity 0.3s, transform 0s 0.3s
    .ant-btn
      display: block
      width: 24px
      height: 24px
      border: none
      background: transparent
      border-radius: 0
      margin: 0 5px
      padding: 2px
      .anticon,
      .anticon svg
        display: block
      .anticon svg
        fill: #ffffff
        width: 20px
        height: 20px
    > span
      display: block
      .ant-upload
        display: block
  &:hover
    .product-real-pic-option
      opacity: 1
      transform: scale(1)
      transition: opacity 0.3s, transform 0s
.product-real-upload-wrapper
  display: block
  border: 1px solid #e1e1e1
  border-radius: 4px
  padding: 4px
  .ant-upload
    display: block
  .product-real-upload-btn
    display: block
    width: 100%
    position: relative
    border: none
    background: #f7f7f7
    border-radius: 0
    height: 0
    padding: 0
    padding-bottom: 100%
    &:hover
      background: #f1f1f1
    &::after
      display: none
    > span
      display: block
      position: absolute
      margin: 5px 0 0
      top: 50%
      left: 50%
      transform: translateX(-50%)
      &.anticon
        margin-top: -36px
        svg
          display: block
          fill: #cccccc
.product-real-pic-modal
  .ant-modal-body
    padding: 10px
    .ant-empty
      padding: 40px 0
    img
      display: block
      width: 100%
    .slick-arrow
      z-index: 10
      width: 30px
      height: 30px
      background: rgba(#000000, 0.2)
      padding: 3px
      margin-top: -15px
      &.slick-prev
        left: 0
      &.slick-next
        right: 0
      svg
        display: block
        width: 24px
        height: 24px
        fill: #ffffff
    .product-real-pic-carousel-item
      position: relative
      padding-bottom: 100%
      img
        position: absolute
        width: auto
        max-width: 100%
        max-height: 100%
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.purchase-detail-card
  .ant-card-body
    padding: 0
.purchase-detail-table
  .ant-table
    &.ant-table-bordered
      > .ant-table-container
        border-color: #a8dadc
  .ant-table-thead
    > tr
      > th
        font-size: 0.875rem
        border-right: 1px solid rgba(#ffffff, 0.5)
        border-bottom: none
        background: #a8dadc
  .ant-table-tbody
    > tr
      > td
        font-size: 0.875rem
        .ant-btn
          > span
            max-width: 100%
            overflow: hidden
            text-overflow: ellipsis
        .list-table-option
          display: flex
          .ant-space-item
            margin-right: 4px !important
          .ant-btn
            display: block
            border: none
            padding: 3px
            &.list-table-option-edit
              background: #f4a261
              &::after
                --antd-wave-shadow-color: #f4a261
            &.list-table-option-delete
              background: #e63946
              &::after
                --antd-wave-shadow-color: #e63946
            .anticon,
            .anticon svg
              display: block
              width: 18px
              height: 18px
        &.ant-table-row-expand-icon-cell
          padding: 8px 4px 8px 6px
          .ant-btn
            background: #2a9d8f
      &.ant-table-expanded-row
        .ant-table-expanded-row-fixed
          padding: 20px 20px 19px
        .product-detail-table-expand-group
          display: flex
          align-items: stretch
          .product-detail-table-expand-group-title
            width: 100px
            color: #ffffff
            border-bottom: 1px solid #fbfbfb
            background: #2a9d8f
            padding: 8px
          .product-detail-table-expand-group-content
            width: calc(100% - 100px)
            border-bottom: 1px solid #fbfbfb
            background: #ffffff
            padding: 8px
.purchase-detail-table-footer
  display: flex
  align-items: center
  justify-content: space-between
  .purchase-product-total-amount
    > span
      color: #2a9d8f
.purchase-price-row
  display: flex
  align-items: center
  .purchase-price-input
    width: calc(100% - 32px)
    margin-right: 4px
    &.full
      width: 100%
  .purchase-price-view
    width: 24px
    .ant-btn
      display: block
      width: 28px
      height: 28px
      border: 1px solid #dddddd
      background: #f9f9f9
      border-radius: 100%
      padding: 3px
      .anticon,
      .anticon svg
        display: block
        width: 20px
        height: 20px
        fill: #999999
      &:hover
        border-color: #cccccc
        background: #f1f1f1
  
.purchase-history-price
  width: 400px
  &.ant-popover-placement-top
    > .ant-popover-content
      > .ant-popover-arrow
        z-index: 2
        border-right-color: #ffffff
        border-bottom-color: #ffffff
  &.ant-popover-placement-bottom
    > .ant-popover-content
      > .ant-popover-arrow
        z-index: 2
        border-top-color: #2a9d8f
        border-left-color: #2a9d8f
  &.ant-popover-placement-leftTop
    > .ant-popover-content
      > .ant-popover-arrow
        z-index: 2
        border-top-color: #2a9d8f
        border-right-color: #2a9d8f
  .ant-popover-title
    color: #ffffff
    background: #2a9d8f
  .ant-popover-inner-content
    padding: 0
  .ant-tabs
    .ant-tabs-nav
      margin-bottom: 0
      padding: 10px
      .ant-tabs-ink-bar
        display: none
      .ant-tabs-tab
        border: none
        padding: 0
        .ant-tabs-tab-btn
          border: 1px solid #2a9d8f
          padding: 4px 8px
          color: #222222
        &+ .ant-tabs-tab
          margin-left: 10px
        &.ant-tabs-tab-active
          background: #2a9d8f
          .ant-tabs-tab-btn
            color: #ffffff
.purchase-history-card
  margin: 10px 10px 0
  .ant-card-body
    padding: 10px
.purchase-history-list
  width: 400px
  .ant-table-small
    .ant-table-thead
      > tr
        > th
          padding: 4px 8px
    .ant-table-tbody
      > tr
        > td
          padding: 4px 8px

.purchase-product-modal
  width: 1000px !important
  .purchase-product-modal-result
    margin-top: 20px
    .ant-btn-sm
      display: block
      border: none
      padding: 3px
      .anticon,
      .anticon svg
        display: block
        width: 18px
        height: 18px
        fill: #ffffff
      &.purchase-product-modal-next
        background: #168aad
      &.purchase-product-modal-select
        background: #2a9d8f

.view-product-modal
  width: 1000px !important
  .view-product-table
    width: 100%
    table-layout: fixed
    &+ .view-product-table
      margin-top: 20px
    th, td
      width: 20%
      border-right: 1px solid #ffffff
      padding: 4px 8px
      vertical-align: top
    th
      color: #ffffff
      background: #2a9d8f
    td
      height: 38.5px
      border-bottom: 1px solid #ffffff
      background: #f7f7f7
      padding: 8px
    &.addition
      th, td
        width: 25%
      td
        > div
          position: relative
          padding-bottom: 100%
          .ant-empty
            position: absolute
            width: 100%
            margin: 0
            top: 50%
            transform: translateY(-50%)
          > img
            display: block
            position: absolute
            max-width: 100%
            max-height: 100%
            margin: 0
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

.form-option-print
  color: #f4a261 !important
  border-color: #f4a261 !important
  &:focus
    color: #de731b !important
    border-color: #de731b !important
  &:disabled
    color: rgba(0, 0, 0, 0.25) !important
    border-color: #d9d9d9 !important
  .anticon,
  .anticon svg
    width: 14px
    height: 14px
    fill: #f4a261

.product-select-hover
  &.type
    width: 312px
  &.product
    width: 876px
  .ant-popover-inner-content
    padding: 10px
    .ant-table
      .ant-table-thead
        > tr
          > th
            padding: 4px 8px
      .ant-table-tbody
        > tr
          > td
            padding: 4px 8px

.purchase-product-modal-result
  .ant-table-tbody
    > tr
      > td
        position: relative
        transition: none
        > div
          position: absolute
          top: -31px
          left: 0
      &.selected
        > td
          background: #a8dadc



